.navbar{
    display: flex;
    align-items: center;
    background-color:#547792;
    color: white;
    width: 100%;
    height: 90px;
}
.logo-Name{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 30%;
}
.logo-Name img{
    width: auto;
    height: 150px;
}
.nav-Links{
    display: flex;
    gap: 10px;
    width: 70%;
    justify-content: space-around;
}
.nav-Links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    &:hover{
        color: #cce7ff;
    }
    &:active{
        color: #cce7ff;
    }
}
.logout-btn {
  padding: 10px 22px;
  border: none;
  border-radius: 25px; 
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: background-color 0.2s, transform 0.1s;
}

/* Responsive for Headers */
@media (max-width: 770px) {
    .navbar {
        height: auto;
        padding: 10px 0;
        flex-direction: column;
    }
    .logo-Name {
        width: 100%;
        justify-content: center;
    }
    .logo-Name img {
        height: 100px;
    }
    .nav-Links {
        width: 100%;
        padding: 10px 0;
    }
}

@media (max-width: 550px) {
    .nav-Links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .nav-Links a {
        font-size: 16px;
    }
    .logout-btn {
        padding: 8px 18px;
    }
}