:root {
    --bg-deep: #0F2854;
    --card-bg: #1C4D8D;
    --accent-blue: #4988C4;
    --light-blue: #BDE8F5;
    --text-main: #FFFFFF;
    --text-dim: #BDE8F5;
    --danger: #e74c3c;
    --success: #2ecc71;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-deep);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
}